* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #00512c;
}

#play--area {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Names */

.player {
    position: relative;
    font-size: 2rem;
    color: white;
    padding: 4rem;
}

/* Card Display */
.cardImg {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* Buttons */
.btn--deal {
    position: absolute;
    display: flex;
    width: 10rem;
    height: 5rem;
    top: 50%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 32px;
    border-radius: 5px;
    cursor: pointer;
}

/* Hidden */
.hidden {
    display: none;
}
